<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/global.css') }}" />
  </head>
  <body>
    <div class="search-bar">
      <input
        type="text"
        id="q_text"
        placeholder="Search"
        class="search-bar-input" />

      <button id="q_button" class="search-bar-button">Search</button>
    </div>

    <div id="results" class="results-div">
      <!-- <div class="article">
        <div class="flex-row article-header">
          <h2>title</h2>
          <button>PDF</button>
        </div>
        <div class="flex-row article-info">
          <i>Authors:</i> {' - '.join(article['authors'])} | <i>Citations:</i>
          {article['citations_number']}
        </div>

        <div class="article-abstract">
          amsd admnx cnbmnc bZMNXcb kZXbcmn bZXncbMZNXcb mznXbc mZBXcmn
          BZXcmnbZXbcz XBCmnbzxcmb
        </div>
      </div> -->
    </div>
  </body>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js')}}"></script>
</html>
