@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Oswald:wght@300&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10;
}

.search-bar {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  flex-flow: row;
  gap: 15px;
}

.search-bar-input {
  width: 100%;
  max-width: 400px;
  padding: 9px 12px;
}

.search-bar-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.results-div {
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.article-header-a,
.article-header h2 {
  width: 100%;
}

.article-header-btn {
  color: white;
  height: fit-content;
  font-weight: 600;
  background-color: rgb(255, 0, 0);
  border: none;
  padding: 3px 9px;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.3s;
}

.article-header-btn:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.article-info {
  font-size: 14px;
  color: grey;
}

.article-abstract {
  width: 100%;
  font-size: 16px;
}
